
h1,h2,h3,div,p{
    margin: 0px;
    padding: 0px;
}
.containerBody{
    height: 70vh; 
    width: 100%;
    background-color: grey;
}

.bodyincon{
    padding-top: 2rem;
    display: flex;
}

.left{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.right{
    display: flex;
    justify-content: center;
    flex: 1;
}

.desc{
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 60px;
}

.btnok{
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3.125rem;
    padding: 1rem 3.125rem;
    color: black;
    background-color: white;
}

.stateform{
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height:600px;
    width: 800px;
    margin: 7% 25%;
    position: absolute;
}

.iconsetting{
    display: flex;
    justify-content: flex-end;
}


.boxClass{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconclear1{
    cursor: pointer;
    color: red;
}

.btnok2{
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem 3.125rem;
    color: black;
    background-color: white;
}

.setbtn{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnok2:hover{
    width: 30%;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem 3.125rem;
    color: white;
}
.row{
    margin-top: 15px;
    max-width: 700px;
    display: flex;
    gap: 15px;
}
.row input,select,label{
    font-size: 16px;
    margin-top: 10px;
}
.center{
    padding: 15px 0px;
    width: 100%;
    display: flex;
   justify-content: center;
}

.sport{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}